p {
	font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.foto-perfil {
	width: 300px;
	height: 300px;
	max-width: auto;
	border-radius: 50%;
}

.icones {
	padding-left: 5px;
}

.titulosBrancos {
	text-decoration: underline;
	text-underline-position: under;
	padding-bottom: 20px;
	text-transform: uppercase;
	font-weight: 700;
	color: black;
}

.titulosVerdes {
	text-decoration: underline;
	text-underline-position: under;
	padding-bottom: 20px;
	text-transform: uppercase;
	font-weight: 700;
	color: #000000;
}

.paragrafoBrancos {
	color: white !important;
}


.jumbotron {
	margin-bottom: 0px;
}

html {
	scroll-behavior: smooth;
}

p {
	color: black !important;
}

.corPrimaria {
	background-color:#DCDCDC;
}

.itemMenu {
	color: white;
}
.Justificado{
	text-align: justify;
    text-align-last: center;
}

div.figure {
	display: inline;
  }
  img.scaled {
	width: 200px;
	height: 180px;
	display: inline;
	
  }

  botao{
	background-color: rgb(88, 231, 21)
  }

.botaoHelp{
    display: block;
    width: 160px;
    height: 40px;
    line-height: 40px;
    padding: 10px 5px;
    margin: 20px;
    background-color: #000;
    color: #FFF;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-family: Arial;
}
