/*TITULOS*/
.titulosVerdes {
	text-decoration: underline;
	text-underline-position: under;
	padding-bottom: 20px;
	text-transform: uppercase;
	font-weight: 700;
	color: #000000;
}

/*JUSTIFICA TEXTO*/
.Justificado{
	text-align: justify;
    text-align-last: center;
}

/* FOTOS*/
div.figure {
	display: inline;
  }
  img.scaled {
	width: 200px;
	height: 180px;
	display: inline;
	
  }

/*BOTÕES*/
.btn
{

	background-color:#7fe082;
	color: white;
	border-radius: 50px;
	padding: 10px;
	margin: 10px;
	

}

/*NAVBAR POSIÇÃO*/
.topnav {
	position: relative;
	background-color: #7fe082;
	overflow: hidden;
  }
  .top {
	position: relative;
	overflow: hidden;
  }
  
/*NAVBAR TAMANHO*/
  .topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 10px 10px;
	text-decoration: style;
	font-size: 17px;
  }
  
/*NAVBAR BACK*/
  .topnav a:hover {
	background-color: rgba(214, 224, 226, 0.932);
	color: #7fe082;
  }
  
/*COLOR LOGO CENTRAL*/
  .topnav a.active {
	background-color: #4CAF50;
	color: white;
  }
  
/*POSIÇÃO LOGO*/
  .topnav-centered a {
	float: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }
  
  
/*POSIÇÃO MENU*/
  .topnav-right {
	float: right;
  }
  
/*POSIÇÃO LOGO NAVBAR*/
  @media screen and (max-width: 600px) {
	.topnav a, .topnav-right {
	  float: none;
	  display: block;
	}
	.topnav-centered a {
		position: relative;
		top: 0;
		left: 0;
		transform: none;
	  }
  }

	